 <!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<meta name="format-detection" content="telephone=no" />
<title>启迪科技</title>
</head>

<body>
-------------------------------启迪科技----------------------------------------------------
<ul>
<li><a target="_blank" href="index.html">首页</a></li>
<li><a target="_blank" href="profile.html">01关于我们-01公司简介</a></li>
<li><a target="_blank" href="organize.html">01关于我们-02组织架构</a></li>
<li><a target="_blank" href="fromQH.html">01关于我们-03源自清华</a></li>
<li><a target="_blank" href="culture.html">01关于我们-04企业文化</a></li>
<li><a target="_blank" href="business.html">01关于我们-05旗下企业</a></li>
<li><a target="_blank" href="join.html">01关于我们-06加入我们</a></li>
<li><a target="_blank" href="contact.html">01关于我们-07联系我们</a></li>
<li><a target="_blank" href="research.html">02科技创新生态园-1产业研究</a></li>
<li><a target="_blank" href="service.html">02科技创新生态园-5创新服务</a></li>
<li><a target="_blank" href="intelligence.html">03超互联智慧生态圈-1智慧各种</a></li>
<li><a target="_blank" href="data.html">03超互联智慧生态圈-2IDC大数据中心 </a></li>
<li><a target="_blank" href="identity.html">03超互联智慧生态圈-虚拟数字身份认证平台 </a></li>
<li><a target="_blank" href="ice.html">04-美丽文创生态圈-1冰雪</a></li>
<li><a target="_blank" href="net.html">05园区网络-01列表页</a></li>
<!-- <li><a target="_blank" href="netDetails.html">05园区网络-02详情页</a></li> -->
<li><a target="_blank" href="news.html">06新闻-02详情页</a></li>
<li><a target="_blank" href="netSearch.html">07搜索页-01园区网络</a></li>
<li><a target="_blank" href="newsSearch.html">07搜索页-02新闻列表</a></li>

</ul>
</body>
</html>
