<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<meta name="format-detection" content="telephone=no" />
<title>启迪科技</title>
<link href="style/main.css" rel="stylesheet" type="text/css" />
<link href="style/index.css" rel="stylesheet" type="text/css" />
<link href="style/qdkj.css" rel="stylesheet" type="text/css" />
<script src="script/jquery-1.7.1.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="script/js.js"></script>
<script language="javascript" type="text/javascript" src="script/jquery.SuperSlide.2.1.1.js"></script>
<link href="script/slick.css" rel="stylesheet" type="text/css" />
<script src="script/slick.js"></script>
</head>

<body>
<!-- header -->
<div class="headerDiv">
<div class="wal">
   <a href="" class="logo"></a>
   <div class="topSearch">
   <input type="text" class="input1">
   <input type="button" class="btn1">
   </div>
   <div class="topBtn">
     <ul>
       <li><a href="" class="on">中文</a></li>
       <li><a href="">EN</a></li>
     </ul>
   </div>
   <div class="nav">
     <ul>
       <li><a href="" class="sNavA">关于我们</a></li>
       <li><a href="" class="sNavA">科技创新生态圈</a></li>
       <li><a href="" class="sNavA">超互联智慧生态圈</a></li>
       <li><a href="" class="sNavA">美丽文创生态圈</a></li>
       <li><a href="" class="sNavA">园区网络</a></li>
       <li><a href="" class=" on">新闻</a></li>
     </ul>
   </div>
</div>
</div>

<!-- 二级导航 -->
<div class="sNav transition">
<div class="wal">
    <ul>
      <li style="width: 100px;">
         <dl>
           <dd><a href="">公司简介</a></dd>
           <dd><a href="">旗下企业</a></dd>
           <dd><a href="">组织架构</a></dd>
           <!-- <dd><a href="">国际拓展</a></dd> -->
           <dd><a href="">源自清华</a></dd>
           <dd><a href="">加入我们</a></dd>
           <dd><a href="">企业文化</a></dd>
           <dd><a href="">联系我们</a></dd>
         </dl>
      </li>
      <li style="width: 148px;">
         <dl>
           <dd><a href="">产业研究</a></dd>
           <dd><a href="">创新服务</a></dd>
           <dd><a href="">规划设计</a></dd>
           <dd><a href="">创业投资</a></dd>
           <dd><a href="">开发建设</a></dd>
           <dd><a href="">招商引智</a></dd>
         </dl>
      </li>
      <li style="width: 164px;">
         <dl>
           <dd><a href="">智慧民生</a></dd>
           <dd><a href="">智慧政务</a></dd>
           <dd><a href="">智慧产业</a></dd>
           <dd><a href="">IDC大数据中心</a></dd>
           <dd><a href="">虚拟数字身份认证平台</a></dd>
         </dl>
      </li>
      <li style="width: 148px;">
         <dl>
           <dd><a href="">冰雪</a></dd>
           <dd><a href="">影视</a></dd>
           <dd><a href="">传媒</a></dd>
           <dd><a href="">生态</a></dd>
         </dl>
      </li>
      <li style="width: 100px;">
         <dl>
           <dd><a href="">科技城</a></dd>
           <dd><a href="">科技园</a></dd>
           <dd><a href="">特色小镇</a></dd>
           <dd><a href="">众创空间</a></dd>
           <dd><a href="">国际布局</a></dd>
         </dl>
      </li>
    </ul>
</div>
</div>

<!-- banner -->
<div class="banner">
    <img src="image/nimg1920_01.png">
</div>

<!-- wal -->
<div class="wal">
    <div class="breadNav textLeft">您的位置:首页 > <span>新闻</span></div>
    <div class="news">
      <h5  class="title">启迪科技城将落户高新区</h5>
      <p class="time">发布时间：2016-09-21</p>
      <div class="h60"></div>
      <div class="newsContent">
        昨日，九龙坡区政府、重庆高新区管委会与启迪控股签订“1+3”项目签约仪式，双方将在高新区二郎地区共同建设10万平米科技园，科技园计划于2017年9月底开园。高新区还将和启迪控股共同成立3亿创投基金，开展创业投资业务，为园区企业提供投融资服务，同时还将建设启迪科技城集团（重庆）冰雪文创综合体项目。<br><br><br>

启动建设“1+3”项目<br><br>

据介绍，启迪控股是一家依托清华大学设立的综合性大型企业，公司总资产超千亿元。作为启迪控股的旗舰产品，清华科技园是世界上单体最大的大学科技园。据了解，科技园位于高新区二郎地区迎宾大道与火炬大道交汇处西北角，属于轨道交通环线与12号线（远期规划线路）二郎站上盖物业。园区总建筑面积10.28万平方米其中地上总建筑面积5.85万平方米，包含13栋低密度生态写字楼。科技园计划2017年9月底开园。<br><br>

        <div class="imgCenter"><img src="image/img_news.jpg" alt=""></div><br><br>

记者了解到，由高新区管委会与启迪控股共同发起3亿创业投资基金，开展创业投资业务，为园区企业提供投融资服务。
根据《启迪科技城集团（重庆）冰雪文创综合体项目框架合作协议》，启迪控股全资子公司启迪科技城集团通过公开招投标程序取得九龙坡区（重庆高新区）相应地块国有建设用地使用权后，建设集冰雪世界、冰雪精灵城、冰球馆、极限运动中心、儿童数字游乐中心、电影博物馆及影剧院、大数据中心等功能为一体的启迪科技城集团（重庆）冰雪文创综合体项目。
      </div>
    </div>
      <div class="page prevPage"><span>上一篇：</span><a href="">启迪科技城将落户高新区</a></div>
      <div class="page nextPage"><span>下一篇：</span><a href="">启迪科技城将落户高新区</a></div>
    
</div>
<!-- wal End-->



<!-- footer -->
  <div class="footer">
      <div class="wal">
          <div class="list">
            <ul>
              <li><a href="">内部办公</a></li>
              <li><a href="">263邮箱</a></li>
              <li><a href="">法律声明</a></li>
            </ul>
          </div>
          <div class="line"><div></div><i></i></div>
          <div class="list2">
            <ul>
              <li>
                 <h2><a href="">关于启迪</a></h2>
                 <dl>
                   <dd><a href="">公司简介</a></dd>
                   <dd><a href="">旗下企业</a></dd>
                   <dd><a href="">组织架构</a></dd>
                   <!-- <dd><a href="">国际拓展</a></dd> -->
                   <dd><a href="">源自清华</a></dd>
                   <dd><a href="">加入我们</a></dd>
                   <dd><a href="">企业文化</a></dd>
                   <dd><a href="">联系我们</a></dd>
                 </dl>
              </li>
              <li>
                 <h2><a href="">科技创新生态圈</a></h2>
                 <dl>
                   <dd><a href="">产业研究</a></dd>
                   <dd><a href="">创新服务</a></dd>
                   <dd><a href="">规划设计</a></dd>
                   <dd><a href="">创业投资</a></dd>
                   <dd><a href="">开发建设</a></dd>
                   <dd><a href="">招商引智</a></dd>
                 </dl>
              </li>
              <li>
                 <h2><a href="">超互联智慧生态圈</a></h2>
                 <dl>
                   <dd><a href="">智慧民生</a></dd>
                   <dd><a href="">智慧政务</a></dd>
                   <dd><a href="">智慧产业</a></dd>
                   <dd><a href="">IDC大数据中心</a></dd>
                   <dd><a href="">虚拟数字身份认证平台</a></dd>
                 </dl>
              </li>
              <li>
                 <h2><a href="">美丽文创生态圈</a></h2>
                 <dl>
                   <dd><a href="">冰雪</a></dd>
                   <dd><a href="">影视</a></dd>
                   <dd><a href="">传媒</a></dd>
                   <dd><a href="">生态</a></dd>
                 </dl>
              </li>
              <li>
                 <h2><a href="">园区网络</a></h2>
                 <dl>
                   <dd><a href="">科技城</a></dd>
                   <dd><a href="">科技园</a></dd>
                   <dd><a href="">特色小镇</a></dd>
                   <dd><a href="">众创空间</a></dd>
                   <dd><a href="">国际布局</a></dd>
                 </dl>
              </li>
            </ul>
          </div>
          <div class="line"><div></div><i></i></div>
          <div class="title">相关企业</div>
          <div class="list3">
            <a href="javascript:;" class="prev"></a>
            <a href="javascript:;" class="next"></a>
            <ul>
              <li><a href="">相关企业</a></li>
              <li><a href="">相关企业</a></li>
              <li><a href="">相关企业</a></li>
              <li><a href="">相关企业</a></li>
              <li><a href="">相关企业</a></li>
              <li><a href="">相关企业</a></li>
              <li><a href="">相关企业</a></li>
              <li><a href="">相关企业</a></li>
            </ul>
          </div>
          <div class="h10"></div>
          <div class="ewm">
            <div><img src="image/img100.png"></div>
            <em>微信扫一扫</em>
          </div>
          <a href="" class="wbA">博客<img src="image/img50.png" class="transition"></a>
      </div>
      <div class="msg">2013 Copyright TusHoldings 版权所有-启迪控股股份有限公司 京ICP备05046869号 京公网安备110108008047号</div>
  </div>



</body>
</html>
